html {
    background-color: rgb(51, 51, 51);
}

a {
    text-decoration: none;
    color: rgb(52, 208, 219);
}

p {
    color: white;
    text-align: center;
}

body {
    margin: 0px;
    padding: 5px;
}

footer {
    color: white;
    text-align: center;
    font-size: 20px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    background-color: rgb(51, 51, 51);
    border-radius: 7px;
}

.headerimage {
    width: 100px;
    height: 100px;
    float: left;
    margin: 0px;
}

.heightauto {
    height: auto;
}

header {
    padding-top: 5px;
}

.headerdiv {
    height: auto;
    width: 205px;
    margin: auto;
    padding: 7px;
    border-radius: 7px;
    overflow: hidden;
    background-color: rgb(112, 112, 112);
}

/* Twitch Widget Stuff */

.twitchwidget {
    height: auto;
    width: 205px;
    margin-bottom: 20px;
    padding: 7px;
    border-radius: 7px;
    overflow: hidden;
    background-color: rgb(143, 72, 255);
}

.twitchtext {
    color: rgb(143, 72, 255);
    transition-duration: 0.3s;
    width: 205px;
    height: auto;
    line-height: 25px;
    float: left;
    background-color: rgb(51, 51, 51);
    text-align: center;
}

.twitchtext:hover {
    color: rgb(51, 51, 51);
    background-color: rgb(143, 72, 255);
}

/* Discord Widget Stuff */
.discordwidget {
    height: auto;
    width: 205px;
    padding: 7px;
    border-radius: 7px;
    overflow: hidden;
    background-color: rgb(142, 157, 255);
}

.discordtext {
    color: rgb(142, 157, 255);
    transition-duration: 0.3s;
    width: 205px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: auto;
    float: left;
    background-color: rgb(51, 51, 51);
    text-align: center;
}

.discordtext:hover {
    color: rgb(51, 51, 51);
    background-color: rgb(142, 157, 255);
}

/* Computer Specs */

.computerspecs {
    height: 25px;
    width: 205px;
    margin: auto;
    padding: 7px;
    border-radius: 7px;
    overflow: hidden;
    background-color: rgb(0, 0, 255);
}

.computertext {
    color: rgb(52, 208, 219);
    transition-duration: 0.3s;
    width: 205px;
    height: 25px;
    line-height: 25px;
    float: left;
    background-color: rgb(51, 51, 51);
    text-align: center;
}

.computertext:hover {
    color: rgb(51, 51, 51);
    background-color: rgb(52, 208, 219);
}

/* Housing Stuff */

.housingcomp {
    height: 25px;
    width: 205px;
    margin: auto;
    padding: 7px;
    border-radius: 7px;
    overflow: hidden;
    background-color: rgb(168, 0, 168);
}

.housingcomptext {
    color: rgb(252, 84, 252);
    transition-duration: 0.3s;
    width: 205px;
    height: 25px;
    line-height: 25px;
    float: left;
    background-color: rgb(51, 51, 51);
    text-align: center;
}

.housingcomptext:hover {
    color: rgb(51, 51, 51);
    background-color: rgb(252, 84, 252);
}

.headerinp {
    color: rgb(64, 162, 245);
}

.headerhousing {
    color: rgb(252, 84, 252);
    font-size: 18px;
}

.borderradiusright {
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}

.borderradiusleft {
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

.borderr {
    border-radius: 7px;
}

.imagewithradius {
    width: 100px;
    height: 100px;
    float: left;
    margin: 0px;
    border-radius: 7px;
}

/* Comp Stuff */
.opentag {
    margin-bottom: auto;
    margin-top: 5px;
    float: left
}

.contestant {
    margin-bottom: auto;
    margin-top: 5px;
    float: right
}

.startdate {
    margin-bottom: 5px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    float: left;
    height: auto;
    font-size: 18px;
    font-weight: 600;
    color: rgb(249, 190, 35);
    width: 205px;
    background-color: rgb(51, 51, 51);
    text-align: center;
    line-height: 1.2;
}

.enddate {
    margin-bottom: 20px;
}

.bottomdate {
    margin-bottom: 0px;
}

.winpos0 {
    margin-bottom: 0px;
    background-color: rgb(112, 112, 112);
    height: 7px;
    padding: 0px;
}

/* Text Overflow Class */
.overflow {
    overflow-wrap: break-word;
}

.linkunderline {
    text-decoration: underline;
}

.comptext {
    color: rgb(249, 190, 35);
    width: 205px;
    background-color: rgb(51, 51, 51);
    margin: auto;
    text-align: center;
    line-height: 1.2;
    font-size: 18px;
}

.halftext {
    margin-bottom: 7px;
    width: 100px;
    background-color: rgb(51, 51, 51);
    margin: auto;
    text-align: center;
    line-height: 1.2;
    font-size: 18px;
}

.contestheaderdiv {
    width: 205px;
    margin-bottom: 20px;
    padding: 7px;
    border-radius: 7px;
    overflow: hidden;
    background-color: rgb(112, 112, 112);
}

.housingurl {
    color: rgb(249, 190, 35);
    transition-duration: 0.3s;
}

.housingurl:hover {
    color: rgb(252, 84, 252);
}

/* Twitter */
.urltwitter {
    color: rgb(64, 162, 245);
    transition-duration: 0.3s;
    width: 100px;
    height: 25px;
    float: right;
    background-color: rgb(51, 51, 51);
}

.urltwitter:hover {
    color: white;
    background-color: rgb(64, 162, 245);
}

/* Ko-fi */
.urlkofi {
    color: rgb(245, 92, 87);
    transition-duration: 0.3s;
    width: 100px;
    height: 25px;
    float: right;
    background-color: rgb(51, 51, 51);
}

.urlkofi:hover {
    color: white;
    background-color: rgb(245, 92, 87);
}

/* Twitch */
.urltwitch {
    color: rgb(143, 72, 255);
    transition-duration: 0.3s;
    width: 100px;
    height: 25px;
    float: right;
    background-color: rgb(51, 51, 51);
}

.urltwitch:hover {
    color: white;
    background-color: rgb(143, 72, 255);
}

/* Hypixel */
.urlhypixel {
    color: rgb(249, 190, 35);
    transition-duration: 0.3s;
    width: 100px;
    height: 25px;
    float: right;
    background-color: rgb(51, 51, 51);
}

.urlhypixel:hover {
    color: rgb(51, 51, 51);
    background-color: rgb(249, 190, 35);
}

li a {
    display: block;
    width: auto;
    height: 25px;
    font-size: 20px;
    text-align: center;
}

/* Left */
.specspage {
    color: rgb(249, 190, 35);
    transition-duration: 0.3s;
    width: 100px;
    height: 100px;
    background-color: rgb(51, 51, 51);
}

.babybluebox {
    background-color: rgba(142, 157, 255, .1);
    border-radius: 3px;
}

.babybluebox:hover {
    color: white;
    background-color: rgb(142, 157, 255);
}

.scrolloff::-webkit-scrollbar {
    display: none;
}

/* Colors */
.colorlime {
    color: rgb(85, 255, 85);
}

.colorred {
    color: rgb(245, 92, 87);
}

.colordarkgreen {
    color: rgb(24, 139, 0);
}

.colordarkred {
    color: rgb(127, 0, 10);
}

.colorpink {
    color: rgb(252, 84, 252);
}

.colorbabypurple {
    color: rgb(143, 72, 255);
}

.colorgold {
    color: rgb(251, 228, 132);
}

.colorsilver {
    color: rgb(214, 213, 221);
}

.colorbronze {
    color: rgb(175, 126, 109);
}

.colordarkpurple {
    color: rgb(143, 72, 255);
}

.colorbabyblue {
    color: rgb(142, 157, 255);
}

.colorbabyerblue {
    color: rgb(52, 208, 219);
}
